{% extends 'base.html.twig' %}

{% block title %}
    Milkbar - Dashboard
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/app.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block scripts %}
    <script src="js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

{% endblock %}

{% block body %}
    {{ include('navbar.html') }}

    <main role="main" class="container" style="padding-top: 1rem">
        <div class="d-grid">
            <button class="btn btn-lg btn-primary" type="button" id="addNursingTime" style="padding: 1rem 1rem;background-color:#00b3a1;border-color:#00b3a1">Add session</button>
        </div>
        <hr>
        <div>
            <p class="text-center" style="margin-bottom: .2rem;font-size: 0.9em!important;">Time since last feeding:</p>
            <img class="mx-auto d-block" src="/images/ajax-loader.gif" id="stopwatchLoadingSpinner">
            <p id="stopwatch" class="fw-bold fs-3 text-center"></p>
        </div>
        <hr>
        <div class="mb-3 row">
            <div class="col-sm-16">
                <select class="form-select" aria-label="Default select example" id="sessionMaxAge">
                    <option value="24" selected>1 Day</option>
                    <option value="48">2 Days</option>
                    <option value="72">3 Days</option>
                    <option value="86">4 Days</option>
                    <option value="110">5 Days</option>
                </select>
            </div>
        </div>
        <ul class="list-group" id="sessionList"></ul>
        <img class="mx-auto d-block" src="/images/ajax-loader.gif" id="loadingSpinner">
        <br>

        {{ include('modal.html') }}
    </main>
{% endblock %}
