{% extends 'base.html.twig' %}

{% block title %}
    Nursing log
{% endblock %}

{% block body %}
    <h1>Nursing log</h1>
    <button type="button" class="btn btn-lg btn-primary" id="addNursingTime">Add nursing time</button>
    <div class="table-responsive">
        <table class="table" id="nursingTimeTable">
            <thead>
            <tr>
                <th scope="col">Time</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}
