{% extends 'base.html.twig' %}

{% block title %}
    Nursing log
{% endblock %}

{% block body %}
    <h1>Nursing log</h1>
    <button type="button" class="btn btn-lg btn-primary" id="addNursingTime">Add nursing time</button>
    <br>
    <hr>
    <ul class="list-group" id="sessionList"></ul>
{% endblock %}
