{% extends 'base.html.twig' %}

{% block title %}
    Nursing log
{% endblock %}

{% block body %}
    <h1 class="text-center" style="padding-top: 1rem;padding-bottom: 0.5rem">Nursing log</h1>
    <div class="d-grid">
        <button class="btn btn-lg btn-primary" type="button" id="addNursingTime" style="padding: 1rem 1rem">Add session</button>
    </div>
    <hr>
    <div>
        <p class="text-center" style="margin-bottom: .2rem">Next booby party not later then</p>
        <img class="mx-auto d-block" src="ajax-loader.gif" id="nextFeedingLoadingSpinner">
        <p id="feedingTime" class="fw-bold fs-3 text-center"></p>
    </div>
    <hr>
    <p>Sessions:</p>
    <ul class="list-group" id="sessionList"></ul>
    <br>
    <img class="mx-auto d-block" src="ajax-loader.gif" id="loadingSpinner">

    {{ include('modal.html') }}
{% endblock %}
