<div aria-hidden="true" aria-labelledby="sessionModal" class="modal fade" id="sessionModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <form id="comicDetailForm">
                    <input id="sessionIdModalInput" name="sessionId" type="hidden" value="">
                    <div class="mb-3">
                        <label class="form-label" for="sessionTimeModalInput">Session time</label>
                        <input class="form-control" id="sessionTimeModalInput" name="sessionTime" required="" type="text" value="">
                    </div>
                    <hr>
                    <div class="mb-3 form-switch">
                        <input class="form-check-input" id="leftBoob" type="checkbox">
                        <label class="form-check-label" for="leftBoob">Left boob</label>
                    </div>
                    <select aria-label="form-select" class="form-select mb-3" disabled id="minutesLeftInput">
                        <option value="" disabled selected>Select duration</option>
                        <option value="5">5 min</option>
                        <option value="10">10 min</option>
                        <option value="15">15 min</option>
                        <option value="20">20 min</option>
                        <option value="25">25 min</option>
                    </select>
                    <hr>
                    <div class="mb-3 form-switch">
                        <input class="form-check-input" id="rightBoob" type="checkbox">
                        <label class="form-check-label" for="rightBoob">Right boob</label>
                    </div>
                    <select aria-label="form-select" class="form-select form-select mb-3" disabled id="minutesRightInput">
                        <option value="" disabled selected>Select duration</option>
                        <option value="5">5 min</option>
                        <option value="10">10 min</option>
                        <option value="15">15 min</option>
                        <option value="20">20 min</option>
                        <option value="25">25 min</option>
                    </select>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-bs-dismiss="modal" id="deleteButton" onclick="return confirm('Are you sure you want to delete this session?')" type="button">
                    Delete
                </button>
                <button class="btn btn-primary" data-bs-dismiss="modal" id="updateButton" type="button">Save</button>
            </div>
        </div>
    </div>
</div>
