<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Milkbar</a>
        <div class="btn-group">
            <button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/images/icon-menu.png" height="18rem">
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="/settings">Settings</a></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
