{% extends 'base.html.twig' %}

{% block title %}
    Milkbar - Settings
{% endblock %}

{% block body %}
    {{ include('navbar.html') }}

    <main role="main" class="container" style="padding-top: 1rem">
        {{ sessionCount }}
    </main>
{% endblock %}
